
<div class="container d-flex justify-content-center align-center text-center text-dark bg-light border border-dark rounded mt-5 rounded" style="max-width: 50rem; height: 58vh">
  <%= simple_form_for @product do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :price, input_html: { min: '0', step: 'any' } %>
    <%= f.input :category, collection: ["Hygiène 🧼", "Miam 🤤", "Jouet 🪀", "Maison 🛋"] %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.submit :submit, class: "btn btn-primary", label: "Submit"%>
  <% end %>
</div>
