<div class="container">

   <div id="product">
      <div id="content">
          <div class="ajust-img">
            <div class="img-cote" >
              <div>
                <%= cl_image_tag @product.image.key%>
              </div id="img-1">

              <div id="img-2">
                <%= cl_image_tag @product.image.key%>
              </div>

            </div>
              <div class="image-haute">
                <%= cl_image_tag @product.image.key%>
                <%# <% else %>
                <%# <%= image_tag "https://source.unsplash.com/random", height: 300, width: 400, crop: :fill %>
              </div>
          </div>

          <div class="infos-product">
              <h2 id="titre"><%= @product.title %></h2>
            <div class = "display-title">
              <ol>
                <p class="price"><%= @product.price%> <%="€" %></p >
                <p class="time"><%= @product.created_at %></p >
              </ol>
            </div>
            <div id="header"></div>
              <div class = display-description>
              <button type="button" class="btn btn-primary">Sélectionner ce produit</button>

              <div class="notification">
                <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large" />
                  <div class="notification-content">
                    <p>Par <strong>Jean Claude Delavigne</strong></p>
                  </div>
              </div>

               <p class="description"><%= "Description :"%></p>
              <%= @product.description %>
              </div>
          </div>
        </div>
    </div>

  <div>
    <div class="vendor">
      <div class="notification">
        <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large" />
          <div class="notification-content">
            <p>Par <strong>Jean Claude Delavigne</strong></p>
            <p>16 annonces</p>
          </div>
      </div>

      <div class="vendeur-notif">
        <i class="far fa-heart"></i>
          <div class="vendeur-content">
            <p>Membre depuis novembre 2015</p>
          </div>
      </div>
      <div class="vendeur-notif">
        <i class="far fa-heart"></i>
          <div class="vendeur-content">
            <p>Répond généralement en une journée</p>
          </div>
      </div>
      <div id="bouton">
        <button type="button" class="btn btn-success">Contacter le vendeur</button>
      </div>

    </div>

    <div class="div-map">
      <div>
        <div id="map"
          style="width: 600px; height: 500px;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>
  </div>
</div>
